[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "autobisect"
description = "Automatic bisection utility for Mozilla Firefox and SpiderMonkey"
version = "0.7.4"

classifiers=[
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Testing",
    "Topic :: Security",
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
]
keywords = ["fuzz", "fuzzing", "security", "test", "testing", "bisection"]

authors = [
    "Jason Kratzer <jkratzer@mozilla.com>"
]
maintainers = [
    "Mozilla Fuzzing Team <fuzzing@mozilla.com>"
]

license = "MPL-2.0"
readme = "README.md"

repository = "https://github.com/MozillaSecurity/autobisect"
homepage = "https://github.com/MozillaSecurity/autobisect"


[tool.poetry.dependencies]
black = "^19.10b0"
fuzzfetch = "^0.9.9"
grizzly-framework = "^0.9.5"
lithium-reducer = "^0.3.3"
prefpicker = "^1.0.4"
python = "^3.6"
toml = "^0.9"

[tool.poetry.dev-dependencies]
coverage = {extras = ["toml"], version = "^5.1"}
flake8 = "^3.7.9"
flake8-isort = "^2.8.0"
flake8-quotes = "^2.1.1"
freezegun = "^0.3.15"
pre-commit = "^2.1.1"
pylint = "^2.4.4"
pytest = "^5.3.5"
pytest-cov = "^2.8.1"
pytest-flake8 = "^1.0.4"
pytest-black = "^0.3.8"
pytest-mock = "^3.0.0"
pytest-pylint = "^0.15.1"
requests_mock = "^1.8.0"
tox = "^3.14.5"


[tool.poetry.scripts]
autobisect = "autobisect.main:main"

[tool.coverage.paths]
source = ["autobisect"]

[tool.coverage.run]
omit = [
    "autobisect/__main__.py",
    "autobisect/tests/fetcher_callback.py"
]
