requests
lithium
fuzzfetch
configparser>=3.5.0
-e git://github.com/MozillaSecurity/ffpuppet@master#egg=ffpuppet
-e git://github.com/MozillaSecurity/lithium@master#egg=lithium-reducer
-e git://github.com/MozillaSecurity/prefpicker@master#egg=prefpicker
.
