interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"XkdRcPTKS2iJz54FDWHOvg\",\n  \"rank\": 1753176866,\n  \"data\":
        {},\n  \"expires\": \"2026-07-22T09:41:25.556Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-vFD6Cj7tUH0YOJdlH3O60dyrGNs"
      x-for-request-id:
      - dc9708ad-7643-4341-9463-03db7acc67b6
      x-for-trace-id:
      - 13be1452171a1c70c3cdc7e22d23f945
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-07-22T09:41:25.556Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-07-22T09:41:25.556Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-07-22T09:41:25.556Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-ppNB+lv1KT4h1JuGJN31HERNHYs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json
      x-for-request-id:
      - d220ecbe-93c4-4076-9aff-0b0935041c3e
      x-for-trace-id:
      - e1b426ac6b0452fac6785a6f4f80244a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": true,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4d2bd709e17314eff9f5462d2466afa7"'
      Last-Modified:
      - Tue, 22 Jul 2025 11:28:02 GMT
      x-goog-generation:
      - '1753183682166426'
      x-goog-hash:
      - crc32c=W28TNw==
      - md5=TSvXCeFzFO/59UYtJGavpw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '424'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-xCvuV/gleiBm80T6RSMIDr18Axo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.tar.xz
      x-for-request-id:
      - 614d2ae4-483b-44c4-a3a5-f8adcabb6719
      x-for-trace-id:
      - 30ece2e09ef29149fb4506da6aac02d4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-STF6M7lCz+crft8A1MCRGJz4md4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 21123062-321d-4ea0-bc12-00e42f71641b
      x-for-trace-id:
      - 3e66fdc9f24486f852c852b70e7c72d6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-gaXPpj2+5kvuwuztu9x5Wlnhp3A"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json
      x-for-request-id:
      - 71d31ac3-34c9-4eda-8a23-e484e833bf47
      x-for-trace-id:
      - 1e46ef2336571c4c988ae0040afb6c33
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20250722093426\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"143.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"143.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"47d8d7840ccb2bc0d0b7a896537dc9f85bc73c50\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ac6fe71242e63f0192b24bfc33cb5c8f"'
      Last-Modified:
      - Tue, 22 Jul 2025 11:27:59 GMT
      x-goog-generation:
      - '1753183679769200'
      x-goog-hash:
      - crc32c=sBkNQA==
      - md5=rG/nEkLmPwGSskv8M8tcjw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '342'
    status:
      code: 200
      message: OK
version: 1
