interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"XkdRcPTKS2iJz54FDWHOvg\",\n  \"rank\": 1753176866,\n  \"data\":
        {},\n  \"expires\": \"2026-07-22T09:41:25.556Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-vFD6Cj7tUH0YOJdlH3O60dyrGNs"
      x-for-request-id:
      - dc9708ad-7643-4341-9463-03db7acc67b6
      x-for-trace-id:
      - 13be1452171a1c70c3cdc7e22d23f945
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-07-22T09:41:25.556Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-07-22T09:41:25.556Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-07-22T09:41:25.556Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-ppNB+lv1KT4h1JuGJN31HERNHYs"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json
      x-for-request-id:
      - d220ecbe-93c4-4076-9aff-0b0935041c3e
      x-for-trace-id:
      - e1b426ac6b0452fac6785a6f4f80244a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": true,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"4d2bd709e17314eff9f5462d2466afa7"'
      Last-Modified:
      - Tue, 22 Jul 2025 11:28:02 GMT
      x-goog-generation:
      - '1753183682166426'
      x-goog-hash:
      - crc32c=W28TNw==
      - md5=TSvXCeFzFO/59UYtJGavpw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '424'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-xCvuV/gleiBm80T6RSMIDr18Axo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.tar.xz
      x-for-request-id:
      - 614d2ae4-483b-44c4-a3a5-f8adcabb6719
      x-for-trace-id:
      - 30ece2e09ef29149fb4506da6aac02d4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-STF6M7lCz+crft8A1MCRGJz4md4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 21123062-321d-4ea0-bc12-00e42f71641b
      x-for-trace-id:
      - 3e66fdc9f24486f852c852b70e7c72d6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/XkdRcPTKS2iJz54FDWHOvg/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-gaXPpj2+5kvuwuztu9x5Wlnhp3A"
      location:
      - https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json
      x-for-request-id:
      - 71d31ac3-34c9-4eda-8a23-e484e833bf47
      x-for-trace-id:
      - 1e46ef2336571c4c988ae0040afb6c33
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/XkdRcPTKS2iJz54FDWHOvg/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"buildid\": \"20250722093426\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"143.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"143.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"47d8d7840ccb2bc0d0b7a896537dc9f85bc73c50\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ac6fe71242e63f0192b24bfc33cb5c8f"'
      Last-Modified:
      - Tue, 22 Jul 2025 11:27:59 GMT
      x-goog-generation:
      - '1753183679769200'
      x-goog-hash:
      - crc32c=sBkNQA==
      - md5=rG/nEkLmPwGSskv8M8tcjw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '342'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.macosx64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.macosx64-opt\",\n
        \ \"taskId\": \"TThB_OuORa6G1h2ICA7jPQ\",\n  \"rank\": 1753176866,\n  \"data\":
        {},\n  \"expires\": \"2026-07-22T09:41:28.126Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c6-ZDkrloVGxeLRT+LUxiYRQyQ5ObA"
      x-for-request-id:
      - df5b4112-faa1-4fce-b35f-620b8d34d458
      x-for-trace-id:
      - dd02b8966d9c35e5399c59d506d7fab8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TThB_OuORa6G1h2ICA7jPQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-07-22T09:41:28.126Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TThB_OuORa6G1h2ICA7jPQ/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-nNTUlwqNnXKaNAkotjUV8Nk206o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.mozinfo.json
      x-for-request-id:
      - d161c194-89c7-4985-b38c-0fb65c0b7a08
      x-for-trace-id:
      - a12b241326d613564c2642d05205203f
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \"cla[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TThB_OuORa6G1h2ICA7jPQ/artifacts/public/build/target.dmg
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"82-fzQ5nDyavbkZnSaBN55yTFh68dI"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.dmg
      x-for-request-id:
      - fde2f1ed-af2b-4fd0-b4dc-b1639dbdb8d2
      x-for-trace-id:
      - 15fb49567f234dffb92427b77effe0d6
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TThB_OuORa6G1h2ICA7jPQ/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-L8MFXaLizctYJQX7wAj5ZQvn0xM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 91d40fcf-7ccf-470f-a6fd-c4b6894a70d9
      x-for-trace-id:
      - 573c1712bbe788dde564b741416a47e1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/TThB_OuORa6G1h2ICA7jPQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ize2NkdzjukqgOh4ruaPOLw5L2Y"
      location:
      - https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.json
      x-for-request-id:
      - cdeed0c0-3801-4cd2-a968-831b84d18e07
      x-for-trace-id:
      - 1a03cf03ba5442a949a4c6fb795829ac
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/TThB_OuORa6G1h2ICA7jPQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang -isysroot /builds/worker/fetches/MacOSX15.5.sdk
        -mmacosx-version-min=10.15 --target=x86_64-apple-darwin\",\n  \"buildid\":
        \"20250722093426\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang -isysroot
        /builds/worker/fetches[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"FNtPq0rdRG-JX69mNnjTEQ\",\n  \"rank\": 1753176866,\n  \"data\":
        {},\n  \"expires\": \"2026-07-22T09:41:25.627Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c3-eXUIb0H4WHYoTXGY1D61EzCCaVU"
      x-for-request-id:
      - f11a66b9-63b7-4c01-8c1e-6b067ba9be88
      x-for-trace-id:
      - 31846326cb73047a358466d81be66173
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FNtPq0rdRG-JX69mNnjTEQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-07-22T09:41:25.627Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FNtPq0rdRG-JX69mNnjTEQ/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-mKGoYMuDtxN1azBbzSrN7ih/MM8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 49b52dc2-fa91-474d-936c-86be7b0883c1
      x-for-trace-id:
      - 69fda3fcf73437f009b97650bf4748d9
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \".exe\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"pgo\",\n    \"buildtype_guess\":
        \"pgo\",\n    \"cc_type\": \[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FNtPq0rdRG-JX69mNnjTEQ/artifacts/public/build/target.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"82-kRXl1br4/pXcpfKp3GTl/X3WO8I"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.zip
      x-for-request-id:
      - a44cd0cb-c46f-4754-885d-12b52c68817b
      x-for-trace-id:
      - 81601ae0db7a4be6367ecfac77048525
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FNtPq0rdRG-JX69mNnjTEQ/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-qFoIU5QgeW1WHd7+dp3YaGGV9Yo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 82b83846-2797-4cc4-afd1-3d5bc92ebbc9
      x-for-trace-id:
      - c4404820b3853ee5fc11550512b018bf
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FNtPq0rdRG-JX69mNnjTEQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-DaBByZPLvd8ZtGYGompDd6+RBUo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.json
      x-for-request-id:
      - 44c2a5e3-98da-4329-bfc8-9dc4ae2372d6
      x-for-trace-id:
      - 06eaab9a5c9adb8704b5394d51782240
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FNtPq0rdRG-JX69mNnjTEQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20250722093426\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -std:c++17 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"143.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"143.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"47d8d7840ccb2bc0d0b7a896537dc9f85bc73c50\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8f054f3ccbe74313d7b454590ddc57b6"'
      Last-Modified:
      - Tue, 22 Jul 2025 11:36:15 GMT
      x-goog-generation:
      - '1753184175117640'
      x-goog-hash:
      - crc32c=9TygEQ==
      - md5=jwVPPMvnQxPXtFRZDdxXtg==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '432'
    status:
      code: 200
      message: OK
version: 1
