interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"QtrnHxAhQ5qWs5xhv7HgBw\",\n  \"rank\": 1750239166,\n  \"data\":
        {},\n  \"expires\": \"2026-06-18T09:36:04.879Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bb-ylE+tNb75b74tsyBzXWNqlf9I54"
      x-for-request-id:
      - 43a6b460-cdd7-4b0c-8603-0dda636397a3
      x-for-trace-id:
      - e5590716b84d31889957a05596814935
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-18T09:36:04.879Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-06-18T09:36:04.879Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-06-18T09:36:04.879Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8b-7HuuJu5QEO39Q01rB8XVfObfy3g"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - c4331de0-272c-4ddf-b78e-63f934f07128
      x-for-trace-id:
      - 2c2545523b889411658654294bcdd891
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f7d209ae5e1b0baafaf5fbf90e1441f9"'
      Last-Modified:
      - Wed, 18 Jun 2025 10:01:34 GMT
      x-goog-generation:
      - '1750240894600924'
      x-goog-hash:
      - crc32c=uQgVCg==
      - md5=99IJrl4bC6r69fv5DhRB+Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '424'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-587DCYZDjBN6GlAvr86DtKj0igU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.tar.xz
      x-for-request-id:
      - 7747b2e9-a679-48e5-ac8b-9951222b826d
      x-for-trace-id:
      - 2c1c382f57f508ba991bbf2e029b42be
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-vdpR/8sg8r9YQn1HQDLX4PmhsH4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 359b512e-6560-4495-8e19-129d52a63441
      x-for-trace-id:
      - 66e6a7e9575656181d7238247cb2b98c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5ggOWaNZVTwcmQK6l0OKut5que4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json
      x-for-request-id:
      - 3130db20-d615-46ca-86b9-3f15c60081cc
      x-for-trace-id:
      - dd59e7638b4671585f73c529080b5fe8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250618093246\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"141.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"141.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"a99d79caec54ef813b88609d40f8c1a4b1c396e7\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f0f76350f8e89ec567e3f9ae2b953bcb"'
      Last-Modified:
      - Wed, 18 Jun 2025 10:01:31 GMT
      x-goog-generation:
      - '1750240891521815'
      x-goog-hash:
      - crc32c=5IOK9g==
      - md5=8PdjUPjonsVn4/muK5U7yw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '351'
    status:
      code: 200
      message: OK
version: 1
