interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"R1EtvumFTc6rBY03Q1fCqA\",\n  \"rank\": 1765472204,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T16:58:32.679Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-thhVtuDjVJgvR94gpWWePcrcco0"
      x-for-request-id:
      - b3f590af-59c5-490c-aa6a-6516a4191893
      x-for-trace-id:
      - fcda4b2281a17ace1bc4b5967141839f
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:32.916Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:32.916Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-2Y+XTwini76ZKkRQRBaNkXj3ehE"
      x-for-request-id:
      - fa52ff91-4448-4e1a-b2ca-793abc274763
      x-for-trace-id:
      - edc64e61215a9dceb411596f75267c01
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:33.156Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-12-11T22:13:33.156Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-AAjmebp/vG7VhuTNZKLCHrgTqII"
      x-for-request-id:
      - eab796af-2c97-4b2c-93ec-64fd1f481e7f
      x-for-trace-id:
      - bdb0ae081e302224cab7694642002f99
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:33.429Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-12-11T22:13:33.429Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-osjBxZripj9JvZqE2Y9k9nhw21E"
      x-for-request-id:
      - 1dd455c5-bb8d-4432-af41-48c0f1cf51dc
      x-for-trace-id:
      - 9f127079bf9fbbbe7540a6eacd169558
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KAu5BE11SNqCs4kGq-atQw\",\n  \"rank\": 1765486956,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T21:03:42.346Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb-wMIoYKkIzMg6L29rEuT9K+vzpfQ"
      x-for-request-id:
      - 922e4282-07c1-4e23-b7e6-cf1de88ada81
      x-for-trace-id:
      - 7659c78a74b0f3087ad8d1a86ecdf2dd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:33.871Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:33.871Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-VdZX6AF/5DQ6XCknQZ44tsGgSyY"
      x-for-request-id:
      - a4f9620b-696f-42a7-bc02-8833640f9da2
      x-for-trace-id:
      - 1490dcc2c240703eac2202f4f2b09ef9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:34.169Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:34.169Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-0nqiMoNObM1vigYVoJwsM5zmeZA"
      x-for-request-id:
      - b36e69c0-af56-4e46-a5b0-ba114e64b54d
      x-for-trace-id:
      - 9bb8c1ff9f783f4d0439b7fa8f6602d7
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:34.475Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:34.475Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-S+M6Eq6wkk9m719GbMVxa9zIsNU"
      x-for-request-id:
      - 9be37f52-6fe0-4b24-ad42-d844fa991640
      x-for-trace-id:
      - 7dd9438f506e8b7b641bdeb1c935fd2a
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KAu5BE11SNqCs4kGq-atQw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-12-11T21:03:42.346Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-12-11T21:03:42.346Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-12-11T21:03:42.346Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KAu5BE11SNqCs4kGq-atQw/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.mozinfo.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b-/KFXYkM+Bet/NdBLy60UYV0KLfo"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 6e536d28-db07-4359-8b9b-e8f543405b0e
      x-for-trace-id:
      - f437fdac827c706fe711a346de0fece5
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2d8d1925c07279868c6a84c7ec7174bb"'
      Last-Modified:
      - Thu, 11 Dec 2025 21:15:47 GMT
      x-goog-generation:
      - '1765487747228622'
      x-goog-hash:
      - crc32c=UYnG/A==
      - md5=LY0ZJcByeYaMaoTH7HF0uw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KAu5BE11SNqCs4kGq-atQw/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85-vM1NH2i43Ab8RaU49PEGrIfZ9xk"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.tar.xz
      x-for-request-id:
      - 6caf7908-00a8-4ceb-89ff-872e69ca2dc3
      x-for-trace-id:
      - bf707d8a262f7621027fb0af02e509b4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KAu5BE11SNqCs4kGq-atQw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"98-IGRxwPSyqoM9k+yYoTr09u+c3cQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - d9290aba-5cb3-4581-956f-492bbd71ff0a
      x-for-trace-id:
      - 9c61c4c75baa013dd88109a8a97f4681
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KAu5BE11SNqCs4kGq-atQw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-zK7NXudzkenkhWMskkr1aOUuc9Y"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.json
      x-for-request-id:
      - 5f604f8d-4359-4d51-833d-3cc6bace57dc
      x-for-trace-id:
      - dfeb105976022b91ee085a4cce170ee1
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KAu5BE11SNqCs4kGq-atQw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20251211210236\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu++20\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"148.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"148.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"c199d0410aaf9a8614c4bf632f0501f65c2dc985\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"9ccd473c16cd4446017a4f4c175461ea"'
      Last-Modified:
      - Thu, 11 Dec 2025 21:15:47 GMT
      x-goog-generation:
      - '1765487747251148'
      x-goog-hash:
      - crc32c=TwMH7A==
      - md5=nM1HPBbNREYBek9MF1Rh6g==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '382'
    status:
      code: 200
      message: OK
version: 1
