interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"KtA9iLVNQvOvZ5P3mnEPqA\",\n  \"rank\": 1733156127,\n  \"data\":
        {},\n  \"expires\": \"2025-12-02T16:19:31.759Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"bb-jSpkC1Ld1T38cb5THeW+XFXNS3g"
      x-for-request-id:
      - c26cde53-122f-4cb9-bcd2-72cd4c7d8079
      x-for-trace-id:
      - fbcfa654b87ed478091fc2cce1a5b79c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KtA9iLVNQvOvZ5P3mnEPqA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-12-02T16:19:31.759Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-12-02T16:19:31.759Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-12-02T16:19:31.759Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KtA9iLVNQvOvZ5P3mnEPqA/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"85-sjaxTJPOi/v+MRNKWJImzB41jxw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KtA9iLVNQvOvZ5P3mnEPqA/0/public/build/target.tar.xz
      x-for-request-id:
      - fbd38110-ce90-4596-9897-066c104f4ff1
      x-for-trace-id:
      - c5c2c2dd9d946c86f065aa8ba1e2e1d3
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KtA9iLVNQvOvZ5P3mnEPqA/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-Bw6xfWvgVv2Gz49Wk6fm4YG1VWU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KtA9iLVNQvOvZ5P3mnEPqA/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 264fd053-0e8d-4f9b-ba46-cfe29793ca33
      x-for-trace-id:
      - 854476a0e6890bf4c7e3c7c4fab636f2
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/KtA9iLVNQvOvZ5P3mnEPqA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/KtA9iLVNQvOvZ5P3mnEPqA/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-rgPIkje0CI7em88KDS55ZR/BE40"
      location:
      - https://firefoxci.taskcluster-artifacts.net/KtA9iLVNQvOvZ5P3mnEPqA/0/public/build/target.json
      x-for-request-id:
      - 764ed43b-d62d-42e4-99a9-2410a9485d5f
      x-for-trace-id:
      - dfb0b466a9d66973267df480f227c979
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/KtA9iLVNQvOvZ5P3mnEPqA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20241202161527\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"135.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"135.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"cb50fa8229e7ed9435f805155af14e60687c9dd1\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"fa31d4442a4dee33801c4c32ac68a06f"'
      Last-Modified:
      - Mon, 02 Dec 2024 16:48:28 GMT
      x-goog-generation:
      - '1733158108049554'
      x-goog-hash:
      - crc32c=F1yAEg==
      - md5=+jHURCpN7jOAHEwyrGigbw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '351'
    status:
      code: 200
      message: OK
version: 1
