interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"aCFB2npAT5yJKgcH4gQWow\",\n  \"rank\": 1765433606,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T06:19:41.962Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5-LiVsVO/BKJpK8EzPHYb1z1ur/3E"
      x-for-request-id:
      - 6010f106-23d0-4230-b266-189adb5ba63a
      x-for-trace-id:
      - f4a0811b4447089e2c22acc78a370975
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:07.374Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T17:57:07.374Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"195-Tl2fNUPrxBncgulvrUOPBhQ6LqE"
      x-for-request-id:
      - c9b3be95-e392-4609-a0f7-4094a3ee34da
      x-for-trace-id:
      - 2ac974ec816ac54b7d7fc3b099624dec
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:07.580Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-12-11T17:57:07.580Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19c-qU4Ym+KHfwMXPM5ZagnFw7bUDQQ"
      x-for-request-id:
      - f0022c64-02ea-4dd7-a12a-a3414119e617
      x-for-trace-id:
      - 7aaec54daf71bc0e22655f49c33ba364
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:07.779Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-linux64\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-12-11T17:57:07.779Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"198-U0ncFFv0DGd3OdQ0BTwHL/PSFt8"
      x-for-request-id:
      - 9033e642-a456-49e5-bb89-8e2b3c074f80
      x-for-trace-id:
      - fb45b72dcb896b71039ad1c040e8f1f3
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"Pt6knlQ_RX2dkvPCEFBG6g\",\n  \"rank\": 1765472204,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T16:58:21.993Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb-1+ghfGT9kMH553DV6aK3b6b75yA"
      x-for-request-id:
      - 173f99df-cd95-43cb-9774-656bd380ff46
      x-for-trace-id:
      - b8dcb87091d19856b6a057f63633a78e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:08.164Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T17:57:08.164Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18b-8W33vqoyR9GK7y4oCm5fvtA4bp4"
      x-for-request-id:
      - 03e50c47-ee51-4424-8d57-a94fccd7391c
      x-for-trace-id:
      - 80bcafde8034c94518eb5027ae782d2c
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:08.361Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T17:57:08.361Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"192-NGpHUwoZWCrN3eV9mSqIFrMx48w"
      x-for-request-id:
      - 6da64b24-2fbe-47e1-aeb3-c7e16090fde3
      x-for-trace-id:
      - 237809ad5f8b0f58b464a3dda16f08d6
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T17:57:08.557Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-linux64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T17:57:08.557Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e-ZA9FB7NOGsIKyGgha9Bx/PZ/9m4"
      x-for-request-id:
      - 2615f54d-18f0-49db-869d-147eab47eb0b
      x-for-trace-id:
      - 6fa6735019ab52c56572f3e2c046351d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Pt6knlQ_RX2dkvPCEFBG6g/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-12-11T16:58:21.993Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-12-11T16:58:21.993Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-12-11T16:58:21.993Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Pt6knlQ_RX2dkvPCEFBG6g/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.mozinfo.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b-ifP6ec9i1n0R4BHyKXDD+vBgSi4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.mozinfo.json
      x-for-request-id:
      - 11347bfe-21b5-47b2-b58b-86059fd119f0
      x-for-trace-id:
      - f51a44c18d16f38f490ef27c4c5efec2
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \"\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": true,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"linux\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"linux64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"gtk\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n    \"topsrcdir\":
        \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n    \"ubsan\":
        false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2d8d1925c07279868c6a84c7ec7174bb"'
      Last-Modified:
      - Thu, 11 Dec 2025 17:13:18 GMT
      x-goog-generation:
      - '1765473198393855'
      x-goog-hash:
      - crc32c=UYnG/A==
      - md5=LY0ZJcByeYaMaoTH7HF0uw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '446'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Pt6knlQ_RX2dkvPCEFBG6g/artifacts/public/build/target.tar.xz
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85-uJk/ClOgK7qKT85J5j8gaK2agNw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.tar.xz
      x-for-request-id:
      - 079c1a23-f172-4b29-bc5f-c05472eb3908
      x-for-trace-id:
      - 7ff96a285a2429751579390a707d30b0
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Pt6knlQ_RX2dkvPCEFBG6g/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"98-+UY9Q7HmKGIoOsasOCaHLR48fI0"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 0681a803-61e4-4830-a872-c1cadbda4b1b
      x-for-trace-id:
      - bfc742c0a8e8a03b82b1ffe1b105488a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Pt6knlQ_RX2dkvPCEFBG6g/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-JqKrmTH13sYGVduXi+8+Sy1Wl9U"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.json
      x-for-request-id:
      - 4518a129-35ac-497e-b5f2-5e23639c0397
      x-for-trace-id:
      - a84b9801cd074a275b20a96aad93cb2c
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Pt6knlQ_RX2dkvPCEFBG6g/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20251211165644\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu++20\",\n  \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"148.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"148.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"6429ec9d85395427a733302d1f19dbb0845989a4\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"79321bdbc3e44a820afd0d49601c16d5"'
      Last-Modified:
      - Thu, 11 Dec 2025 17:13:18 GMT
      x-goog-generation:
      - '1765473198408750'
      x-goog-hash:
      - crc32c=7bEIZw==
      - md5=eTIb28PkSoIK/Q1JYBwW1Q==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '384'
    status:
      code: 200
      message: OK
version: 1
