interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"OiHYskmqQAat4UPzWnyLdw\",\n  \"rank\": 1765472204,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T16:58:33.183Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c3-UkFMoY+M2+rqOc8YDF0wAqjX6vs"
      x-for-request-id:
      - e455f8a3-59c0-4d47-968c-88bc932fdb95
      x-for-trace-id:
      - d7099681388cf46712f5796cf16dcce1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:36.718Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:36.718Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"193-ICum4sH0L5x8eo2PNmCjvtPnNFs"
      x-for-request-id:
      - f4acea54-5e2b-4ad6-b353-ce72df134f7e
      x-for-trace-id:
      - ca02b97a99d1189287907b7ac6909952
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:36.930Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-win64-opt\"\n    },\n
        \   \"payload\": {},\n    \"time\": \"2025-12-11T22:13:36.930Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"19a-DoNFwD1C/oU7QtP50hjHEnnoszg"
      x-for-request-id:
      - fa359da1-534a-4e5c-b488-576319a352d0
      x-for-trace-id:
      - 6a2381eee8403d1cda85cb5aba9d871d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:37.224Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.latest.firefox.sm-win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:37.224Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"196-lqypFqVqdv602HKsluT07l2kRDI"
      x-for-request-id:
      - 3848bc01-4d9e-4a1f-9aec-b3d5094a2ca5
      x-for-trace-id:
      - dfc7285934228422f4917c1e5192b523
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.latest.firefox.win64-opt\",\n
        \ \"taskId\": \"cRSv8-KJSMedoJp2gCBtXA\",\n  \"rank\": 1765486956,\n  \"data\":
        {},\n  \"expires\": \"2026-12-11T21:03:41.022Z\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b9-vXnTdisK0u3SPYG3AdXOt7r1TD0"
      x-for-request-id:
      - 14641183-5012-4029-85bc-3b8c705689f4
      x-for-trace-id:
      - c58a5ed28a82c9dd0211b0bfbce4f377
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:37.628Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:37.628Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"189-aMNIDpxMY+rSv/V2FC17A/mNtDk"
      x-for-request-id:
      - cde589d4-f518-4d51-ba80-a188337bd326
      x-for-trace-id:
      - e94f67744eab978e0f19ad4ff69e7122
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-win64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:37.828Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-win64-opt\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:37.828Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"190-QutbT2tNDEa3XvMDRy/NpcRA4Xk"
      x-for-request-id:
      - 86e5827f-2894-404c-a100-992aa30857ce
      x-for-trace-id:
      - 56cf6043303f9ef430ab66e6025f1e88
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.latest.firefox.sm-win64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-12-11T22:13:38.012Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.latest.firefox.sm-win64\"\n    },\n    \"payload\":
        {},\n    \"time\": \"2025-12-11T22:13:38.012Z\"\n  }\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18c-zPl29SGhcz2yZ/BiMZaP5yw8+f4"
      x-for-request-id:
      - 1dc3d451-4a2d-46f4-ba8b-4b615809c102
      x-for-trace-id:
      - 1d7e12da5fd1164aba958ecca03c7ce2
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cRSv8-KJSMedoJp2gCBtXA/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-12-11T21:03:41.022Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-12-11T21:03:41.022Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/mozharness.zip\",\n
        \     \"expires\": \"2026-12-11T21:03:41.022Z\",\n      \"contentType\": \"application/zip\"\n
        \   },\n    {\n      \"storageType\": \"s3\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cRSv8-KJSMedoJp2gCBtXA/artifacts/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.mozinfo.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b-PzSKkDdqsf2d5A0nMinfcK2lRok"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.mozinfo.json
      x-for-request-id:
      - c3995069-621f-4a9a-84f3-f25fbe4ead59
      x-for-trace-id:
      - 69ca9cdd070f736666b7651c0e318b41
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.mozinfo.json
  response:
    body:
      string: "{\n    \"appname\": \"firefox\",\n    \"artifact\": false,\n    \"asan\":
        false,\n    \"automation\": true,\n    \"bin_suffix\": \".exe\",\n    \"bits\":
        64,\n    \"buildapp\": \"browser\",\n    \"buildtype\": \"opt\",\n    \"buildtype_guess\":
        \"opt\",\n    \"cc_type\": \"clang-cl\",\n    \"ccov\": false,\n    \"crashreporter\":
        true,\n    \"datareporting\": true,\n    \"dbus_enabled\": false,\n    \"debug\":
        false,\n    \"devedition\": false,\n    \"early_beta_or_earlier\": true,\n
        \   \"gecko_profiler\": true,\n    \"healthreport\": true,\n    \"isolated_process\":
        false,\n    \"mingw\": false,\n    \"mozconfig\": \"/builds/worker/checkouts/gecko/.mozconfig\",\n
        \   \"nightly_build\": true,\n    \"normandy\": true,\n    \"official\": true,\n
        \   \"opt\": true,\n    \"os\": \"win\",\n    \"pgo\": false,\n    \"platform_guess\":
        \"win64\",\n    \"processor\": \"x86_64\",\n    \"release_or_beta\": false,\n
        \   \"require_signing\": false,\n    \"stylo\": true,\n    \"sync\": true,\n
        \   \"telemetry\": false,\n    \"tests_enabled\": true,\n    \"toolkit\":
        \"windows\",\n    \"topobjdir\": \"/builds/worker/workspace/obj-build\",\n
        \   \"topsrcdir\": \"/builds/worker/checkouts/gecko\",\n    \"tsan\": false,\n
        \   \"ubsan\": false,\n    \"updater\": true\n}"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"612804adfcb66d4b8857baa915b15563"'
      Last-Modified:
      - Thu, 11 Dec 2025 21:18:12 GMT
      x-goog-generation:
      - '1765487892423595'
      x-goog-hash:
      - crc32c=b8n+WA==
      - md5=YSgErfy2bUuIV7qpFbFVYw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '452'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cRSv8-KJSMedoJp2gCBtXA/artifacts/public/build/target.zip
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"82-kEJjhOAbdl5F8mIjUaVBxb8pQk8"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.zip
      x-for-request-id:
      - 7de342b8-fa58-43b1-bf6a-85dfcec45316
      x-for-trace-id:
      - d24e6a28ef28f89e62953eb994978c7d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cRSv8-KJSMedoJp2gCBtXA/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"98-CQUFI12JquyKojamjAcWaKKZA9Y"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 06f86740-44e3-44b4-a9c0-661bd681fa61
      x-for-trace-id:
      - a80e45d62ba828a800d09e91ca638ea8
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/cRSv8-KJSMedoJp2gCBtXA/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.json\"\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83-IMCQXgMsNaBsVB7sxhGly8iSb/w"
      location:
      - https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.json
      x-for-request-id:
      - 00916629-7fd4-4255-8a3e-1fd668588b00
      x-for-trace-id:
      - b9e5d414b30c9de0d619d5bf7bc800a7
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/cRSv8-KJSMedoJp2gCBtXA/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/vs/VC/Tools/MSVC/14.39.33519/bin/Hostx64/x64/ml64.exe\",\n
        \ \"buildid\": \"20251211210236\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang-cl -fms-compatibility-version=19.39
        -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n  \"cxx\":
        \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang-cl
        -fms-compatibility-version=19.39 -std:c++20 -Xclang -ivfsoverlay -Xclang /builds/worker/fetches/vs/overlay.yaml\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"148.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"148.0a1\",\n
        \ \"moz_pkg_platform\": \"win64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"c199d0410aaf9a8614c4bf632f0501f65c2dc985\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-mingw32\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b2875f55b6d12fdcc41da5643c3eb575"'
      Last-Modified:
      - Thu, 11 Dec 2025 21:18:12 GMT
      x-goog-generation:
      - '1765487892408089'
      x-goog-hash:
      - crc32c=HiE4XA==
      - md5=sodfVbbRL9zEHaVkPD61dQ==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '459'
    status:
      code: 200
      message: OK
version: 1
