interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"BaqDQMySTfeE-w5dO4G4yw\",\n  \"rank\": 1721727287,\n  \"data\":
        {},\n  \"expires\": \"2025-07-23T09:38:28.068Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c5-KUvBLLbjWwOXkNaeevqJDlsSoZc"
      x-for-request-id:
      - bdd0df15-bc6d-4813-a4e4-95a1ff457479
      x-for-trace-id:
      - 6c69c46ce5626804f9eb0449804003cf
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BaqDQMySTfeE-w5dO4G4yw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-07-23T09:38:28.068Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-07-23T09:38:28.068Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-07-23T09:38:28.068Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BaqDQMySTfeE-w5dO4G4yw/artifacts/public/build/target.tar.bz2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"86-kMBmpjjFCb8NlAHX/VzrnCT5IZM"
      location:
      - https://firefoxci.taskcluster-artifacts.net/BaqDQMySTfeE-w5dO4G4yw/0/public/build/target.tar.bz2
      x-for-request-id:
      - 08008a81-2ca2-4b58-a8d1-988563ca4127
      x-for-trace-id:
      - fe75b40809c59e57e722262f43a9e0cb
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: HEAD
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BaqDQMySTfeE-w5dO4G4yw/artifacts/public/build/target.crashreporter-symbols.zip
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"98-NCawpweZQY9IdpLYE0K5K3sJJEU"
      location:
      - https://firefoxci.taskcluster-artifacts.net/BaqDQMySTfeE-w5dO4G4yw/0/public/build/target.crashreporter-symbols.zip
      x-for-request-id:
      - 3679782b-0a48-4076-8df6-98ea21c79931
      x-for-trace-id:
      - c3ca90af84ef72d517e5b69980eb925a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/BaqDQMySTfeE-w5dO4G4yw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/BaqDQMySTfeE-w5dO4G4yw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-X1K5FE2fREMdjYjWRo66XpdVOVw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/BaqDQMySTfeE-w5dO4G4yw/0/public/build/target.json
      x-for-request-id:
      - 14c1a34c-bd99-4f73-9ee6-9379506d0486
      x-for-trace-id:
      - 6f1b1fe7dd6fc33e8bfede51bd18faae
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/BaqDQMySTfeE-w5dO4G4yw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"buildid\": \"20240723093447\",\n  \"cc\": \"/builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"cxx\": \"/builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host_alias\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"130.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"130.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"17630c12ac58fd6623fb5d6816eccd9b17933729\",\n  \"moz_update_channel\":
        \"nightly\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"609ce3511846e4529674f7a2d0633f8f"'
      Last-Modified:
      - Tue, 23 Jul 2024 11:54:39 GMT
      x-goog-generation:
      - '1721735679444640'
      x-goog-hash:
      - crc32c=BE4APw==
      - md5=YJzjURhG5FKWdPei0GM/jw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '358'
    status:
      code: 200
      message: OK
[...]
