interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2024.05.29
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.05.29.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-05-31T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.05.29.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2025-06-01T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-XRvA/ZFsCevgXvfvJVapOHYexMc"
      x-for-request-id:
      - f8037913-fe71-43bc-a11e-861b9e3b8c1a
      x-for-trace-id:
      - c646b7212ad5eca00bb2aa7c4d9be548
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2024.05.29
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712\",\n
        \     \"name\": \"20240529013712\",\n      \"expires\": \"2025-06-01T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529092345\",\n
        \     \"name\": \"20240529092345\",\n      \"expires\": \"2025-06-01T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529214854\",\n
        \     \"name\": \"20240529214854\",\n      \"expires\": \"2025-06-01T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2025-06-01T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-U71ugp9FKQawHdyng0swtv5MwQM"
      x-for-request-id:
      - b31031dc-3c26-4a5b-b11b-9d8185475f25
      x-for-trace-id:
      - 08a67757e1d04b56f6731528cacb2840
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"UiiNsVVnRYWED-y0BU6RiA\",\n  \"rank\": 1717019334,\n  \"data\":
        {},\n  \"expires\": \"2025-05-29T21:52:04.827Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-UXGMVPvIZjiR4G6dyWimFIbPAlw"
      x-for-request-id:
      - 52d5274c-e409-45fe-87a9-bd20861b7220
      x-for-trace-id:
      - 62ee62d45f8ba13026533d66e94f7a41
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.297Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.297Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-/rxRKfz9L6ZlM7eH6cmMBJOEk78"
      x-for-request-id:
      - 342d5745-19a5-405b-ae4c-f20f87204bba
      x-for-trace-id:
      - 6b9e7445220a8c0b7664271a469f7572
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.391Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.391Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-VpFzCuh0Wasn6OiltaITEqFnfPE"
      x-for-request-id:
      - 7ee96fba-ce97-40a3-98da-a0a3f20c146e
      x-for-trace-id:
      - ddabc0e604cd50cd341eab79997917b5
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.475Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.475Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-LeVzKSq1ZHeSzrGLI/FigUa11+s"
      x-for-request-id:
      - bcde6140-8191-44f3-9fc1-a2588f658d8c
      x-for-trace-id:
      - aae266942ed49377ca1b2b2c98303168
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.564Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.564Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-WQFeeJa4mlqi1MbUvhRnqn6qbno"
      x-for-request-id:
      - 69b522f7-275e-4df7-81b1-7d15c18ab100
      x-for-trace-id:
      - 4fc8be8873077d6f14b77da2110ce37f
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.657Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.657Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-5BkMayXMiqhPhpyarvLhINPuvCA"
      x-for-request-id:
      - 457110d4-3682-4b5b-b99f-ee9e4d7fd0c2
      x-for-trace-id:
      - 10add51745da8758000bea734af21161
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.745Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.745Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-HKf1KHO/v9rjgEU82JQM9xe/I4k"
      x-for-request-id:
      - 0948c2b9-6e98-4b8a-b52a-3300367b7c1c
      x-for-trace-id:
      - f5240eb5bc41bd3ca1b5d5f65767b531
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:05.835Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2024.05.29.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:05.835Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-lzi1TvJMb+BJYEpIvZo0sArmNUc"
      x-for-request-id:
      - e3e5f808-0d7e-4c48-926a-d54f43855fbf
      x-for-trace-id:
      - b08799d2e9ab330851ab59c71b292877
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.linux64-opt\",\n
        \ \"taskId\": \"Kdw4GeW2S4OZFi_AmfeWtw\",\n  \"rank\": 1716946632,\n  \"data\":
        {},\n  \"expires\": \"2025-05-29T01:42:57.582Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d7-9T3lZO5NkEtfqPp0JARG7E7+6nA"
      x-for-request-id:
      - 4d763c24-1071-49b0-82b8-22d56d768902
      x-for-trace-id:
      - 913e5f31ed02408a057e179203dfb7ec
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Kdw4GeW2S4OZFi_AmfeWtw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-05-29T01:42:57.582Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2025-05-29T01:42:57.582Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2025-05-29T01:42:57.582Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/Kdw4GeW2S4OZFi_AmfeWtw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/Kdw4GeW2S4OZFi_AmfeWtw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-lqCQaCOu43/ts/VxkCbD6gYPTUE"
      location:
      - https://firefoxci.taskcluster-artifacts.net/Kdw4GeW2S4OZFi_AmfeWtw/0/public/build/target.json
      x-for-request-id:
      - 2140fbdb-59c0-4a8f-81fc-75f27441c5b3
      x-for-trace-id:
      - 606d55e3622095e8ceb0712ac733766a
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/Kdw4GeW2S4OZFi_AmfeWtw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240529013712\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu
        -std=gnu99\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang++
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"host_alias\":
        \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"128.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"128.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"198b8c4a9b506b8bb15c4bc93dba876c4bdb1289\",\n  \"moz_update_channel\":
        \"default\",\n  \"target_alias\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"8c95f8ba1dfed3bc64b6abb55b817898"'
      Last-Modified:
      - Wed, 29 May 2024 02:06:14 GMT
      x-goog-generation:
      - '1716948374239651'
      x-goog-hash:
      - crc32c=rGQJrQ==
      - md5=jJX4uh3+07xktqu1W4F4mA==
      x-goog-metageneration:
      - '2'
      x-goog-storage-class:
      - NEARLINE
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '366'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:06.588Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:06.588Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-YsTqMkPTZXLfCwXLzafYOM9oZ80"
      x-for-request-id:
      - 3d13163a-7037-4192-b259-91b1e8b8f279
      x-for-trace-id:
      - a8b9c2cbea3ede7f9216655649f7386d
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:06.707Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:06.707Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-9sMBl1j7BvDKdb3FTlqYFpY54cA"
      x-for-request-id:
      - 12d9bb26-c821-4bec-a9e1-9f9fbf6c1e0d
      x-for-trace-id:
      - 29be322c540ccd9d00c845ef9cd86556
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:06.796Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.20240529013712.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:06.796Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-1N5vl8Jn58wQrtMVcIoYLH16HkA"
      x-for-request-id:
      - d4284dc6-f077-475e-b2c2-fbedeb8427b8
      x-for-trace-id:
      - 0d9695024d5c7d26fe9f2f7e6d8c2a86
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/f4JJ4S-kSDC7Gjtsh5OBKw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-05-29T09:26:46.739Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/f4JJ4S-kSDC7Gjtsh5OBKw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/f4JJ4S-kSDC7Gjtsh5OBKw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-E24zJQDTF9vQRoydmua9w05VWDQ"
      location:
      - https://firefoxci.taskcluster-artifacts.net/f4JJ4S-kSDC7Gjtsh5OBKw/0/public/build/target.json
      x-for-request-id:
      - 8ccc8535-efeb-4e5a-bd6d-5d4fe888c717
      x-for-trace-id:
      - ade3e2c9776303d36e6b7e775649e591
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/f4JJ4S-kSDC7Gjtsh5OBKw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240529092345\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EhbFjMONSlaKZUbz1K_EYQ/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-05-30T00:06:21.247Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/EhbFjMONSlaKZUbz1K_EYQ/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/EhbFjMONSlaKZUbz1K_EYQ/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-h/Vj4yUHdYmOVfHU/tCj7H3JW4o"
      location:
      - https://firefoxci.taskcluster-artifacts.net/EhbFjMONSlaKZUbz1K_EYQ/0/public/build/target.json
      x-for-request-id:
      - 8f7ab323-cbbc-4232-81f0-9e06c680eb8c
      x-for-trace-id:
      - 95b3deefc3b27a91340e9ec6357a60c4
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/EhbFjMONSlaKZUbz1K_EYQ/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240529214854\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"EhbFjMONSlaKZUbz1K_EYQ\",\n  \"rank\": 1717019334,\n  \"data\":
        {},\n  \"expires\": \"2025-05-30T00:06:21.247Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-8XON/iNa1n5Te7oxtKF4kyXPjJY"
      x-for-request-id:
      - 08539ba6-75b6-4538-ade4-69c2341b6294
      x-for-trace-id:
      - 8396a3f79cdfc6de1f9809ad8e195add
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:08.336Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:08.336Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-D2Lpq8Oam/bHLQTFz5t7e7yntC8"
      x-for-request-id:
      - d54ebd91-ba30-45d3-a61e-d6f72cf74cbd
      x-for-trace-id:
      - c1e42f70e5b87b73f6107e718562d2bc
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:08.421Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:08.421Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-SVWYKaJduO93y9QR/ZELrH1eKQ8"
      x-for-request-id:
      - 155c9eb5-5444-46c4-a3b6-e10eb65d3afc
      x-for-trace-id:
      - 81a6fa37ddc383c5c189af0ba5151ab1
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2024-07-23T14:09:08.520Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2024.05.29.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2024-07-23T14:09:08.520Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-sZLAd4gz20XHtbUINWOxnZFIHD0"
      x-for-request-id:
      - fafb26ee-40e7-44f6-9a16-228fe6d153e0
      x-for-trace-id:
      - 2472bcc8ae3fcc8f8979f38c2932c0c9
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ZDxiknMQTgSfaJdPjAXfTw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-05-30T00:34:52.030Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ZDxiknMQTgSfaJdPjAXfTw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/ZDxiknMQTgSfaJdPjAXfTw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-qw/e29WlSLUiWYQQR8Wf+/vi4qg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/ZDxiknMQTgSfaJdPjAXfTw/0/public/build/target.json
      x-for-request-id:
      - 7b649eff-3190-4ddd-b65b-78e25ac00697
      x-for-trace-id:
      - 9b9c02ac2d6cbc57aa8ad452bd086888
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/ZDxiknMQTgSfaJdPjAXfTw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240530003145\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/E7hus4AWQpmHKPzHj0v48w/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2025-05-30T04:11:15.737Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/E7hus4AWQpmHKPzHj0v48w/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/E7hus4AWQpmHKPzHj0v48w/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-ZxQ3p7kkg0jCinYKP/xtUMjA2PA"
      location:
      - https://firefoxci.taskcluster-artifacts.net/E7hus4AWQpmHKPzHj0v48w/0/public/build/target.json
      x-for-request-id:
      - 729ccfae-bf99-4dd7-b200-0f485a1997df
      x-for-trace-id:
      - 51ab8ef0b456e27091580e8f8053c04e
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/E7hus4AWQpmHKPzHj0v48w/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu -std=gnu99\",\n
        \ \"buildid\": \"20240530040816\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LheTcPf4QUCL37PlULxw5g/artifacts
  response:
    body:
[...]
