interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.shippable.2025.06.17
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.17.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2026-06-19T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.17.revision\",\n
        \     \"name\": \"revision\",\n      \"expires\": \"2026-06-20T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"154-mCbAdodfZJYsSfWW8MNVLq3U19g"
      x-for-request-id:
      - 702392cd-a89d-4a02-9d1b-7bffb571ffd4
      x-for-trace-id:
      - c271eaf7a428350b91067b5c1604f5d6
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/namespaces/gecko.v2.mozilla-central.pushdate.2025.06.17
  response:
    body:
      string: "{\n  \"namespaces\": [\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405\",\n
        \     \"name\": \"20250617092405\",\n      \"expires\": \"2025-09-17T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092639\",\n
        \     \"name\": \"20250617092639\",\n      \"expires\": \"2026-06-20T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617213038\",\n
        \     \"name\": \"20250617213038\",\n      \"expires\": \"2026-06-20T00:00:00.000Z\"\n
        \   },\n    {\n      \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.17.latest\",\n
        \     \"name\": \"latest\",\n      \"expires\": \"2026-06-20T00:00:00.000Z\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2b4-rmrALtFhWc5FmYBbBne/+eFN4vE"
      x-for-request-id:
      - a716f6cf-4055-4efa-acc4-0c2290c8604e
      x-for-trace-id:
      - 631b0d060e0a14e9a022db3e89253596
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"UFqFzsHMQoWsnNolKPUOpg\",\n  \"rank\": 1750195838,\n  \"data\":
        {},\n  \"expires\": \"2026-06-17T21:34:23.421Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d0-lxmSrWsqBK5BHRVKPMI+HBKYucw"
      x-for-request-id:
      - 0013ef03-2545-4507-b02c-dea7024b9c7c
      x-for-trace-id:
      - bdd444d1e5bb00979311096168213135
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:44.950Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:44.950Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a0-pMSE4XMr+/GoIIcuLbrWF/Fh6Kw"
      x-for-request-id:
      - 4419247c-90cd-4946-9ab4-4cfcc3ae4e3c
      x-for-trace-id:
      - c382d60c9901330587c1e7cdc83bba21
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.149Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.149Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-pDs33nI0HcA+DsZ0FB/orYQ15O4"
      x-for-request-id:
      - 043ec6b6-5a61-4fb4-91ae-a2efd179e8a3
      x-for-trace-id:
      - 43837eee1a227fa83fa88372809b6138
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.268Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.268Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a3-RVvpn95PUAy5wVdiX0FCKMknAzk"
      x-for-request-id:
      - 70eeb070-f36c-4ca9-a4da-56f32f8781bd
      x-for-trace-id:
      - af82b2e91850a314914849e33bcc0b25
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.396Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.396Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-UckaVww39vkqFBsTanm6pVWxwrg"
      x-for-request-id:
      - 08c37f61-d5db-475a-9268-012424ad354d
      x-for-trace-id:
      - 80dc9c6ab3b6a414943bb23f06d2be07
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.527Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.527Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-miOcbLYtkuHAU4YuLek1s3jk7qg"
      x-for-request-id:
      - 80a78a53-7ce1-4ea8-b4b3-c6c22351f8d1
      x-for-trace-id:
      - 7a07db27da00191e55c7fade54681257
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.692Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.692Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a9-Iv2/JzCIGJkSrKr/Mpb5OG8n01c"
      x-for-request-id:
      - 961630c0-df3c-4d03-bd90-4147639ca19e
      x-for-trace-id:
      - 51b4e04a22a8375891b1e8f6777ebebb
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.830Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.shippable.2025.06.17.revision.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.830Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a5-38ewhX5yqem3LaSB1t0bg101EWs"
      x-for-request-id:
      - 943edaf3-3223-4cc2-bafb-379fbaa05a8e
      x-for-trace-id:
      - b8a0b718fb28eb5784c5210141294006
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:45.975Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:45.975Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ab-Yn4MrfElcwmYj+wBROqm4zr7CIw"
      x-for-request-id:
      - 80787fb0-a3c5-42ea-b940-345003a38332
      x-for-trace-id:
      - cc315475380d53e2ae383b8e833ea061
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:46.117Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:46.117Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a7-gDeKHqQtclf1o5HrzCZB2EnOBmQ"
      x-for-request-id:
      - 04ec0853-5318-45bf-8ae7-909f9e850768
      x-for-trace-id:
      - 8606c1283fcb7dec36190ee07bff5594
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:46.249Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:46.249Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1ae-3DURT6y35ljAmmiCcRqonrksAe4"
      x-for-request-id:
      - b821e008-cd6a-42c6-86ea-e3a05db65b6a
      x-for-trace-id:
      - fc6574ce7a90cca591f1f656d57c0184
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:46.376Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.20250617092405.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:46.376Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1aa-31eLGBMEDBQwMZUWTuvL9mv8DUc"
      x-for-request-id:
      - 8e8f5b58-520d-4486-85a4-9927eac6d03f
      x-for-trace-id:
      - ee0a7b21fc7f4c843e8b01cf8f24f15a
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FzHXPp6WSb2VpkJKT4xflw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-17T09:33:34.347Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/build/config.status\",\n      \"expires\":
        \"2026-06-17T09:33:34.347Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\": \"s3\",\n      \"name\": \"public/build/host/bin/mar\",\n
        \     \"expires\": \"2026-06-17T09:33:34.347Z\",\n      \"contentType\": \"application/octet-stream\"\n
        \   },\n    {\n      \"storageType\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/FzHXPp6WSb2VpkJKT4xflw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/FzHXPp6WSb2VpkJKT4xflw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-1llFDHZYHXhDL+Zu/TmGIEGAPWc"
      location:
      - https://firefoxci.taskcluster-artifacts.net/FzHXPp6WSb2VpkJKT4xflw/0/public/build/target.json
      x-for-request-id:
      - c2e9066b-48a1-4e02-a281-20f79f53496c
      x-for-trace-id:
      - fe1d4e720c61309f4d1bed7eea8f8a2d
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/FzHXPp6WSb2VpkJKT4xflw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250617092639\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"cxx\": \"/builds/worker/fetches/sccache/sccache
        /builds/worker/fetches/clang/bin/clang++ --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n
        \ \"host\": \"x86_64-pc-linux-gnu\",\n  \"moz_app_id\": \"{ec8030f7-c20a-464f-9b0e-13a3a9e97384}\",\n
        \ \"moz_app_maxversion\": \"141.0a1\",\n  \"moz_app_name\": \"firefox\",\n
        \ \"moz_app_vendor\": \"Mozilla\",\n  \"moz_app_version\": \"141.0a1\",\n
        \ \"moz_pkg_platform\": \"linux-x86_64\",\n  \"moz_source_repo\": \"https://hg.mozilla.org/mozilla-central\",\n
        \ \"moz_source_stamp\": \"2a6675e95277b3795a774a09e529ae8566eee68e\",\n  \"moz_update_channel\":
        \"default\",\n  \"target\": \"x86_64-pc-linux-gnu\"\n}\n"
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3267e1fc16f33da5cb8f80b2aca93307"'
      Last-Modified:
      - Tue, 17 Jun 2025 09:56:43 GMT
      x-goog-generation:
      - '1750154203488443'
      x-goog-hash:
      - crc32c=Y9LWag==
      - md5=Mmfh/BbzPaXLj4CyrKkzBw==
      x-goog-metageneration:
      - '1'
      x-goog-storage-class:
      - STANDARD
      x-goog-stored-content-encoding:
      - gzip
      x-goog-stored-content-length:
      - '351'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VJQ5Q211QDWO3ecGBLEIXw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-18T00:04:11.346Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VJQ5Q211QDWO3ecGBLEIXw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/VJQ5Q211QDWO3ecGBLEIXw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-l2DvuamyI3nDUJhCYb9nxS6jk+s"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VJQ5Q211QDWO3ecGBLEIXw/0/public/build/target.json
      x-for-request-id:
      - 274d38ca-623e-407f-8b7c-28836272ccaa
      x-for-trace-id:
      - 037613eced48461ac098f1ac621e5e7b
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/VJQ5Q211QDWO3ecGBLEIXw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250617213038\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.linux64-opt
  response:
    body:
      string: "{\n  \"namespace\": \"gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.linux64-opt\",\n
        \ \"taskId\": \"VJQ5Q211QDWO3ecGBLEIXw\",\n  \"rank\": 1750195838,\n  \"data\":
        {},\n  \"expires\": \"2026-06-18T00:04:11.346Z\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cf-989mfYi0vOqCYBIDPMxFdkM15eY"
      x-for-request-id:
      - b3eab887-cad4-4d4a-bc08-c260d32a4d76
      x-for-trace-id:
      - c0db03f53ec7c1ee06f29475c5c15aa3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:49.837Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:49.837Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"19f-NySl/+EOIQFmjAolIMGSj8vVA/c"
      x-for-request-id:
      - df83792d-e803-403a-9eb3-1ca8dab92979
      x-for-trace-id:
      - 2aacce9067b7f39a06545ffd25cae6f9
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.sm-linux64-opt
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:50.031Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.sm-linux64-opt\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:50.031Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a6-rVPn0RotWVjU9laePPIXXfxDNdA"
      x-for-request-id:
      - 421242bc-5ed9-4126-bda9-9174b89d6915
      x-for-trace-id:
      - ca293dceb06a57326a851c21c0f20c1b
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.sm-linux64
  response:
    body:
      string: "{\n  \"code\": \"ResourceNotFound\",\n  \"message\": \"Indexed task
        not found\\n\\n---\\n\\n* method:     findTask\\n* errorCode:  ResourceNotFound\\n*
        statusCode: 404\\n* time:       2025-07-22T15:45:50.166Z\",\n  \"requestInfo\":
        {\n    \"method\": \"findTask\",\n    \"params\": {\n      \"indexPath\":
        \"gecko.v2.mozilla-central.pushdate.2025.06.17.latest.firefox.sm-linux64\"\n
        \   },\n    \"payload\": {},\n    \"time\": \"2025-07-22T15:45:50.166Z\"\n
        \ }\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a2-NAOscUtQvUhxD8CW0SQKk7QikRM"
      x-for-request-id:
      - 5f25ed19-8a26-4600-9355-3cf0c5752abe
      x-for-trace-id:
      - 73f99bd43f0c887b3ad42b229d6990a7
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VeR--EJIQcCF8X-iEsF3ew/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-18T04:32:39.618Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/VeR--EJIQcCF8X-iEsF3ew/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/VeR--EJIQcCF8X-iEsF3ew/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-9j/DaohR9iWcabBJZF34tJlciYg"
      location:
      - https://firefoxci.taskcluster-artifacts.net/VeR--EJIQcCF8X-iEsF3ew/0/public/build/target.json
      x-for-request-id:
      - dc0bc12f-fb82-405b-8bd6-78780ee2acd0
      x-for-trace-id:
      - 92bd2e7d57e7b5ad651eb05ab0e96102
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/VeR--EJIQcCF8X-iEsF3ew/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250618042918\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-18T09:36:04.879Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/QtrnHxAhQ5qWs5xhv7HgBw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-5ggOWaNZVTwcmQK6l0OKut5que4"
      location:
      - https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json
      x-for-request-id:
      - 62f2738d-aaf8-4ac0-b133-08a6e03697ca
      x-for-trace-id:
      - 8219b0db7f4d1646834fa1cb7e9b8679
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/QtrnHxAhQ5qWs5xhv7HgBw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250618093246\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LlbCo5_kSeGBW0wM3IEbAw/artifacts
  response:
    body:
      string: "{\n  \"artifacts\": [\n    {\n      \"storageType\": \"s3\",\n      \"name\":
        \"public/build/buildhub.json\",\n      \"expires\": \"2026-06-19T00:03:49.861Z\",\n
        \     \"contentType\": \"application/json\"\n    },\n    {\n      \"storageType\":
        \"s3\",\n      \"name\": \"public/bu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/LlbCo5_kSeGBW0wM3IEbAw/artifacts/public/build/target.json
  response:
    body:
      string: "{\n  \"storageType\": \"s3\",\n  \"url\": \"https://firefoxci.taskcluster-artifacts.net/LlbCo5_kSeGBW0wM3IEbAw/0/public/build/target.json\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83-lloYgNJu6VaWqQFVMnbDx407Hmw"
      location:
      - https://firefoxci.taskcluster-artifacts.net/LlbCo5_kSeGBW0wM3IEbAw/0/public/build/target.json
      x-for-request-id:
      - abc750b2-1825-45d1-a0be-d3205ec39ea5
      x-for-trace-id:
      - 449cddd2b3dd4104be1ecb909d028483
      x-taskcluster-artifact-storage-type:
      - s3
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://firefoxci.taskcluster-artifacts.net/LlbCo5_kSeGBW0wM3IEbAw/0/public/build/target.json
  response:
    body:
      string: "{\n  \"as\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
        --sysroot /builds/worker/fetches/sysroot-x86_64-linux-gnu\",\n  \"buildid\":
        \"20250618211250\",\n  \"cc\": \"/builds/worker/fetches/sccache/sccache /builds/worker/fetches/clang/bin/clang
[...]
