interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hg.mozilla.org/mozilla-unified/raw-file/tip/js/src/shell/js.cpp
  response:
    body:
      string: "/* -*- Mode: C++; tab-width: 8; indent-tabs-mode: nil; c-basic-offset:
        2 -*-\n * vim: set ts=8 sts=2 et sw=2 tw=80:\n * This Source Code Form is
        subject to the terms of the Mozilla Public\n * License, v. 2.0. If a copy
        of the MPL was not distributed with this\n * file, You can obtain one at http://mozilla.org/MPL/2.0/.
        */\n\n/* JS shell. */\n\n#include \"mozilla/ArrayUtils.h\"\n#include \"mozilla/Atomics.h\"\n#include
        \"mozilla/Attributes.h\"\n#include \"mozilla/DebugOnly.h\"\n#include \"mozilla/EnumSet.h\"\n#include
        \"mozilla/IntegerPrintfMacros.h\"\n#include \"mozilla/mozalloc.h\"\n#include
        \"mozilla/PodOperations.h\"\n#include \"mozilla/RandomNum.h\"\n#include \"mozilla/RefPtr.h\"\n#include
        \"mozilla/ScopeExit.h\"\n#include \"mozilla/Sprintf.h\"\n#include \"mozilla/TimeStamp.h\"\n#include
        \"mozilla/UniquePtrExtensions.h\"  // UniqueFreePtr\n#include \"mozilla/Utf8.h\"\n#include
        \"mozilla/Variant.h\"\n\n#include <algorithm>\n#include <chrono>\n#ifdef XP_WIN\n#
        \ include <direct.h>\n#  include <process.h>\n#endif\n#include <errno.h>\n#include
        <fcntl.h>\n#if defined(XP_WIN)\n#  include <io.h> /* for isatty() */\n#endif\n#include
        <locale.h>\n#if defined(MALLOC_H)\n#  include MALLOC_H /* for malloc_usable_size,
        malloc_size, _msize */\n#endif\n#include <ctime>\n#include <math.h>\n#ifndef
        __wasi__\n#  include <signal.h>\n#endif\n#include <stdio.h>\n#include <stdlib.h>\n#include
        <string.h>\n#include <sys/stat.h>\n#include <sys/types.h>\n#include <utility>\n#ifdef
        XP_UNIX\n#  ifndef __wasi__\n#    include <sys/mman.h>\n#    include <sys/wait.h>\n#
        \ endif\n#  include <sys/stat.h>\n#  include <unistd.h>\n#endif\n#ifdef XP_LINUX\n#
        \ include <sys/prctl.h>\n#endif\n\n#include \"jsapi.h\"\n#include \"jsfriendapi.h\"\n#include
        \"jstypes.h\"\n#ifndef JS_WITHOUT_NSPR\n#  include \"prerror.h\"\n#  include
        \"prlink.h\"\n#endif\n\n#include \"builtin/Array.h\"\n#include \"builtin/MapObject.h\"\n#include
        \"builtin/ModuleObject.h\"\n#include \"builtin/RegExp.h\"\n#include \"builtin/TestingFunctions.h\"\n#include
        \"builtin/TestingUtility.h\"  // js::ParseCompileOptions, js::ParseDebugMetadata,
        js::CreateScriptPrivate\n#include \"debugger/DebugAPI.h\"\n#include \"frontend/BytecodeCompilation.h\"\n#include
        \"frontend/BytecodeCompiler.h\"\n#include \"frontend/CompilationStencil.h\"\n#ifdef
        JS_ENABLE_SMOOSH\n#  include \"frontend/Frontend2.h\"\n#endif\n#include \"frontend/FrontendContext.h\"
        \ // AutoReportFrontendContext\n#include \"frontend/ModuleSharedContext.h\"\n#include
        \"frontend/Parser.h\"\n#include \"frontend/ScopeBindingCache.h\"  // js::frontend::Sc[...]
[...]
